@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'PT Sans Caption', sans-serif;;
    /*background: -moz-linear-gradient(top, rgba(105,209,219,0.67) 0%, rgba(105,209,219,0.68) 3%, rgba(0,179,186,0.85) 55%, rgba(0,179,186,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, rgba(105,209,219,0.67) 0%,rgba(105,209,219,0.68) 3%,rgba(0,179,186,0.85) 55%,rgba(0,179,186,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, rgba(105,209,219,0.67) 0%,rgba(105,209,219,0.68) 3%,rgba(0,179,186,0.85) 55%,rgba(0,179,186,1) 100%);*/
    /*!*http://www.colorzilla.com/gradient-editor/#69d1db+3,00b3ba+55&0.67+0,1+100;*!*/
    /*background-repeat: no-repeat;*/
}




.active {
    background-color: #FFE4A5;
    color: rgba(46, 198, 208, 1);
    box-shadow:inset 0 0 1em rgba(50, 50, 50, 0.65);

}

div#carrusel {
    width: 100%;
    background-color: aqua;
}

/*Page d'accueil*/
section.form_rabais,
section.centre_index {
    display: inline-block;
    margin: 0;
}
/* page accueil Parti gauche (formulaire rabais */

section.form_rabais {
    width: 30%;background-color: yellow;
    float: left;
}


section.centre_index {
    width: 70%;


}
/*************************Edition de la page acceuil*******************************************/
#menu_container ul li{
display: inline-block;
text-transform: uppercase;
padding: 10px;
}
#menu_container ul li a {
    text-decoration: none;
}
#menu_container {
    margin-left:60%;
}
header div {
    display: inline-block;
}
/*********slider page Acceil********/
#slider {
    width:  100%;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 10000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 1100px;
    height: 500px;
    margin:0;
}
.details li {
    display: inline-block;
}
.the_promo li {
    width: 32%;
    display: inline-block;
    background: lightgrey;

}
.the_promo li h3 {
    text-align: center;
}
.the_promo li:nth-of-type(2){
    margin: 2%;
}
.the_promo li img{
    width: 100%;
}
/* helper css, since we don't have images */
.slide img {width: 1100px;height:400px;}

/******fin du slider*******/
/**************************************Fin edition de la page acceuil**************************************/

/*********************Page Catalogue**************************/
h3.title_forfait {
	font-family: 'PT Sans Caption', sans-serif;
	background: #0aacf7;
	color: white;
	padding: 10px;
	font-weight: 300;
	cursor: pointer;
}

h3.title_forfait:hover {
	background:rgba(1, 132, 193, 0.87);
}
.forfait_image{
     width: 90%;
    transition:ease-in-out 0.1s;
 }
.forfait_image:hover{
  transform: scale(1.1);
}
.forfait_list li {
    display: inline-block;
    width: 33%;
}
.forfait_list h4{
    color: #0d5d86;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.forfait_list{
    background: rgba(186, 227, 232, 0.56);

}
.forfait_name {
    padding:10px;
}
/**********************Fin page Catalogue*************************/






/**************************************************************/
                    /*DERVYS RESERVATION*/
/**************************************************************/

div.forf_choisi {
    background-color: #0aacf7;
    color: white;
    position: relative;
    max-height: 186px;

}

div.forf_choisi h2  {
   text-align: left;
    width: 60%;
    float: right;
}

div.forf_choisi p{
    display: inline;
    /*width: 15%;*/
    /*margin: 20px 0 auto 155px;*/

}

div.forf_choisi p img{
    width: 20%;
    margin: 20px;

}

div.forf_choisi ul.forf_detaille {

    position: relative;
    width: 35%;
    bottom: 130px;
    left: 43%;

    /*width: 55%;*/
    /*margin-top: 30px;*/
    /*float: right;*/

}

section.reserva_main{
    background: rgba(250, 255, 241, 0.7);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    color: #0aacf7;
   }


form.contenant input,select {
    width: 80%;
    height: 40px;
    padding: 5px;
    border: 1px solid #0aacf7;
    border-radius: 10px 10px 10px 10px;

}

form.contenant fieldset {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    margin-bottom: 20px;
    border:none;
    background-color:  rgba(218,249,239,1);

}

form.contenant fieldset ul {
    margin-left: 140px;
}

form.contenant fieldset li{
    display: inline-block;

}
form.contenant fieldset label {
    display: inline-block;
    width: 100%;
}

form.contenant fieldset li.long {
    width: 45%;
    margin: auto 20px;
    padding-bottom: 10px;
}


form.contenant span.erreur {
    display: inline-block;
    width: 100%;
    font-size: x-small;
    font-family: 'Noto Serif', serif;
}

form.contenant fieldset li.court_1 {
    width: 27%;
    margin: auto 20px;
    padding-bottom: 10px;
}

form.contenant span {
/*     color: #00B3BA; */
    margin: auto;
}

form.contenant h4 {
    font-size: 20px;
    width: 40%;
    margin: 25px auto;

}


form.contenant table {
    width: 40%;
    margin: auto auto 5px;
    text-align: center;
    padding-bottom: 20px;

}

form.contenant table tbody{
    width: 80%;
    padding: 10px;
    background-color:   #0aacf7;
    margin-bottom: 10px;
    color: white;

}

form.contenant table th {
    font-size: 20px;

}

form.contenant div {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

form.contenant div input.soumettre,a input.redirection{
    display: inline-block;
    width: 25%;
    height: 50px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 5px;
    background-color: #0aacf7; !important;
    color: white;
    /*font-size: 20px;*/
    font-size: 32px;
    padding: 5px;
    text-shadow: 0 -1px 5px rgba(30, 30, 30, 0.8);
    -webkit-box-shadow: 0 1px 8px rgba(70, 50, 50, 0.96);
    -moz-box-shadow:    0 1px 8px rgba(70, 50, 50, 0.96);
    box-shadow:         0 1px 8px rgba(70, 50, 50, 0.96);


}

form.contenant div input.soumettre:hover,a input.redirection:hover{
    background-color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    cursor:pointer;
    text-shadow: none;

}
form.contenant fieldset ul li input.error {
     border: 1px #bc574f solid;
 }

form.contenant fieldset ul li  span.error {
    background-color: #bc574f;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-size: 8px;
    font-family: -webkit-body;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 6px;
    position: absolute;
}

form.contenant fieldset ul li span.error:before {
    content: '';
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #bc574f;
    border-left: 8px solid transparent;
    left:-16px;
    position: absolute;
    top: 5px;
}


/* Première boite de dialogue */
#conditions {
    background: white;
    border-radius: 10px;
    display: none;
    margin: 100px auto;
    position: relative;
    width: 500px;
    padding: 40px;
}

/* Seconde boite de dialogue */
#recapitulatif {
    background: white;
    display: none;
    margin: 100px auto;
    position: relative;
    width: 500px;
    padding: 40px;
    border:10px solid #f2fa99;
    border-style: ridge;
}

#recapitulatif a.fermer {
    background: url(../images/close_icon.png);
    position:absolute;
    top:-25px;
    right:-25px;
    display: inline-block;
    width: 32px;
    height: 32px;
}





/**************************************************************/
/*DERVYS FOOTER*/
/**************************************************************/

footer {
    background: rgb(247, 149, 2);
    background: -moz-linear-gradient(275deg, rgb(247, 149, 2) 30%, rgb(249, 219, 142) 87%);
    background: -webkit-linear-gradient(275deg, rgb(247, 149, 2) 30%, rgb(249, 219, 142) 87%);
    background: -o-linear-gradient(275deg, rgb(247, 149, 2) 30%, rgb(249, 219, 142) 87%);
    background: -ms-linear-gradient(275deg, rgb(247, 149, 2) 30%, rgb(249, 219, 142) 87%);
    background: linear-gradient(5deg, rgb(247, 149, 2) 30%, rgb(249, 219, 142) 87%);
    display: flex;
    position: relative;
    vertical-align: middle;
    color: #0aacf7 !important;
    font-family: 'Delius Unicase', cursive !important;
    font-size: medium !important;

}


div.coordonees li {
    margin-bottom: 5px;
}

div.coordonees p {
    /*color: blueviolet;*/
    width: 33%;
    text-align: left;
    margin: auto;
}

div.coordonees a {
    text-decoration: none;
    color: white;
}



div.coordonees,
div.social {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 20px 0;
}

div.coordonees {
    border-right: 2px solid rgba(218,249,239,1);
}



div.coordonees ul {
    margin: 30px auto;
    width: 45%;
    text-align: left;
}

div.coordonees span  {
    font-size: 20px;
    margin-right: 10px;
}

/*div.social h3 {*/
    /*margin: 60px auto 10px;*/

/*}*/
div.social ul {
    margin: 20px auto;
    padding: 20px;
}

div.social ul li {
    display: inline-block;
    width: 20%;
    margin: 10px auto;
}

div.social ul li a {
    text-decoration: none;
    width: 100%;
}

div.social p {
    font-size: 8px;
}

div.social p span {
    font-size: 20px;
    margin-right: 10px;

}

div.social ul li a span {
    font-size: 50px;
    color: #0aacf7;
    border-radius: 30px;
    -moz-box-shadow: 0 0 10px 1px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0 0 10px 1px rgba(119, 119, 119, 0.75);
    box-shadow: 0 0 10px 1px rgba(119, 119, 119, 0.75);
}



/*********************** VERSION TABLETTE ***********************/
/*************************************************************************************************************************************/
@media only screen and (max-width: 960px) {



/****resrvation****/



}

/*************************************************************************************************************************************/
/*********************** VERSION MOBILE ***********************/
/*************************************************************************************************************************************/
@media only screen and (max-width: 768px) {



    /****resrvation****/


}
